<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de información</title>
  <link rel="stylesheet" href="../../assets/libs/bootstrap-4.6.0-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../assets/libs/bootstrap-select-1.13.1/css/bootstrap-select.css" />
  <style>
    #contenido {
      margin-top: 2em;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
      width: 70%;
    }
    @media (max-width: 767.98px) {
      #contenido {
        margin-top: 0;
      }
    }
    #btnGuardar {
      margin: 0 auto;
      text-align: center;
      width: auto;
    }
    div.item-search {
      text-align: end;
      background-color: #282A35;
      line-height: 3;
    }
    #nav-item-search {
      display: none;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-left">
    <!-- Brand -->
    <a class="navbar-brand" href="../../index.html">APP WEB</a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Empresa
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="./registrarinformacion.html">Registrar su información</a>
            <a class="dropdown-item" href="./registrarproductos.html">Registrar sus productos</a>
            <a class="dropdown-item" href="./controlpedidos.html">Control de los pedidos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Cerrar sesión</a>
        </li>
        <!-- Search -->
        <div id="nav-item-search">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Buscar
            </a>
            <div class="dropdown-menu">
              <form style="width: 100%;" class="form-inline" action="/action_page.php">
                <input style="width: 100%;" class="form-control dropdown-item" type="search" placeholder="¿Que desea buscar?">
              </form>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </nav>

  <div class="item-search">
    <form class="form-inline" action="/action_page.php">
      <input class="form-control mr-sm-2" type="search" placeholder="¿Que desea buscar?">
    </form>
  </div>
  <div id="contenido">
    <form action="/action_page.php" class="needs-validation" style="margin-bottom: 1rem;" novalidate>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Registre nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="ruc">RUC:</label>
        <input type="text" class="form-control" id="ruc" placeholder="Registre RUC" name="ruc" required>
      </div>
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input type="email" class="form-control" id="correo" placeholder="Registre correo" name="correo" required>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="text" class="form-control" id="telefono" placeholder="Registre telefono" name="telefono" required>
      </div>
      <div class="form-group">
        <label>Tipo empresa:</label>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customControlValidation1" name="radio-stacked" required>
          <label class="custom-control-label" for="customControlValidation1">Pública</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
          <label class="custom-control-label" for="customControlValidation2">Privada</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
          <label class="custom-control-label" for="customControlValidation3">Otro</label>
          <div class="invalid-feedback">Elija una opción</div>
        </div>
      </div>
      <div class="form-group">
        <label for="diasAtencion">Días de atención:</label>
        <select class="form-control selectpicker" id="diasAtencion" multiple required>
          <option value="1">Lunes</option>
          <option value="2">Martes</option>
          <option value="3">Miércoles</option>
          <option value="4">Jueves</option>
          <option value="5">Viernes</option>
          <option value="6">Sábado</option>
          <option value="6">Domingo</option>
        </select>
      </div>
      <div class="form-group">
        <label for="formaspago">Formas de pago admitidas:</label>
        <select class="form-control selectpicker" id="formaspago" multiple required>
          <option value="1">American Express</option>
          <option value="2">Mastercard</option>
          <option value="3">Visa</option>
          <option value="4">PayPal</option>
          <option value="5">Tarjetas de crédito</option>
          <option value="6">Tarjetas de débito</option>
        </select>
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember" required> ¿Está de acuerdo con los términos y condiciones?
            <div class="valid-feedback">Validado.</div>
            <div class="invalid-feedback">Marque esta casilla de verificación para continuar.</div>
          </label>
        </div>
      </div>
      <div id="btnGuardar"><button type="submit" class="btn btn-primary">Guardar</button></div>
    </form> 
  </div>

  <script src="../../assets/libs/jquery/jquery.min.js"></script>
  <script src="../../assets/libs/popper/popper.min.js"></script>
  <script src="../../assets/libs/bootstrap-4.6.0-dist/js/bootstrap.js"></script>
  <script src="../../assets/libs/bootstrap-select-1.13.1/js/bootstrap-select.js"></script>
  <script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

</body>
</html>