<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de productos</title>
  <link rel="stylesheet" href="../../assets/libs/bootstrap-4.6.0-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../assets/libs/bootstrap-select-1.13.1/css/bootstrap-select.css" />
  <style>
    #contenido {
      margin-top: 2em;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
      width: 70%;
    }
    @media (max-width: 767.98px) {
      #contenido {
        margin-top: 0;
      }
    }
    #btnGuardar {
      margin: 0 auto;
      text-align: center;
    }
    div.item-search {
      text-align: end;
      background-color: #282A35;
      line-height: 3;
    }
    #nav-item-search {
      display: none;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-left">
    <!-- Brand -->
    <a class="navbar-brand" href="../../index.html">APP WEB</a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Empresa
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="./registrarinformacion.html">Registrar su información</a>
            <a class="dropdown-item" href="./registrarproductos.html">Registrar sus productos</a>
            <a class="dropdown-item" href="./controlpedidos.html">Control de los pedidos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Cerrar sesión</a>
        </li>
        <!-- Search -->
        <div id="nav-item-search">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Buscador
            </a>
            <div class="dropdown-menu">
              <form style="width: 100%;" class="form-inline" action="/action_page.php">
                <input style="width: 100%;" class="form-control dropdown-item" type="search" placeholder="¿Que desea buscar?">
              </form>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </nav>

  <div class="item-search">
    <form class="form-inline" action="/action_page.php">
      <input class="form-control mr-sm-2" type="search" placeholder="¿Que desea buscar?">
    </form>
  </div>

  <div id="contenido">
    <form action="/action_page.php" class="needs-validation" style="margin-bottom: 1rem;" novalidate>
      <div class="form-group">
        <label for="tuscategorias">Categorias:</label>
        <select class="form-control selectpicker" id="tuscategorias" required>
          <option value="" selected disabled>Seleccione una</option>
          <option value="1">Vehículos</option>
          <option value="2">Inmuebles o propiedades</option>
          <option value="3">Artículos deportivos</option>
          <option value="4">Artículos para el hogar</option>
          <option value="5">Electrónica</option>
          <option value="6">Instrumentos musicales</option>
          <option value="7">Productos para mascotas</option>
          <option value="8">Suministros de oficina</option>
        </select>
      </div>
      <div class="form-group">
        <label for="producto">Crear producto:</label>
        <input type="text" class="form-control" id="producto" placeholder="Nuevo producto" name="producto" required>
      </div>
      <div class="form-group">
        <label for="precio">Precio:</label>
        <input type="number" class="form-control" id="precio" placeholder="Registre precio" name="precio" required>
      </div>
      <div class="form-group">
        <label for="oferta">Crear Oferta:</label>
        <input type="text" class="form-control" id="oferta" placeholder="Nueva oferta" name="oferta" required>
      </div>
      <div class="form-group">
        <label for="disponibilidad">Disponibilidad:</label>
        <input type="number" class="form-control" id="disponibilidad" placeholder="Números de existencias" name="disponibilidad" required>
      </div>

      <div id="btnGuardar"><button type="submit" class="btn btn-primary">Guardar</button></div>
    </form>
  </div>

  <script src="../../assets/libs/jquery/jquery.min.js"></script>
  <script src="../../assets/libs/popper/popper.min.js"></script>
  <script src="../../assets/libs/bootstrap-4.6.0-dist/js/bootstrap.js"></script>
  <script src="../../assets/libs/bootstrap-select-1.13.1/js/bootstrap-select.js"></script>
  <script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

</body>
</html>