*{
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: sans-serif, Arial, Helvetica ;
  background: url('../img/login.jpg');
  height: 100vh;
  position: relative;
}
/*NUEVO LOGIN*/
.form-login{
  width: 400px;
  height: 340px;
  background: #444;
  margin:auto;
  margin-top: 6px;
  box-shadow: 7px 13px 37px white;
  padding: 20px 30px;
  border-top: 4px solid blue;
  color: whitesmoke;
}

.form-login h5{
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
  }
  
.controls{
    width:100% ;
    border: 1px solid lightblue;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252525;
    font-size: 14px;
    font-weight: bold;
    color:#fff;
}
.form-login p{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}
.form-login a:hover{
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.form-login a{
    text-decoration: underline;
}
.btnSubmitLogin {
  background-color:lightseagreen;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  display: inline-block;
  width: 100% !important;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
}
.btnSubmitLogin:hover{
  background-color: #1f6d9e !important;
}
footer{
  border-top: 1px solid rgba(0, 0, 0, .1);
  position: absolute;
  bottom: 0;
  background-color: #fff;
  color: #121212;
  padding: 10px;
  text-align: center;
  width: 100%;
}