*{
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

main {
  max-width: 350px;
  margin: auto;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  border-radius: .5em;
}

input[type=email]:focus, input[type=password]:focus {
  border: 1px solid #1da1f2;
  transition: all .3s;
}

.btnSubmitLogin {
  background-color: #1da1f2;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
}
.btnSubmitLogin:hover{
  background-color: #1f6d9e !important;
}
.containerbtnreg {
  text-align: center;
}

.forgetpsw a {
  text-decoration: none;
  color: #1da1f2
}

.rememberpsw {
  padding: 10px 0;
}

.imgcontainer {
  text-align: center;
  height: 120px;
}

.imgcontainer img {
  height: 100%;
}

.forgetpsw {
  text-align: center;
  margin-bottom: 16px;
}

.separator {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  text-align: left;
  border-width: 0;
  color: gray;
  background-color: #dadde1;
}