*{
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn.dropdown-toggle{
  padding: 15px;
  line-height: 15px;
}
body{
  font-size:  16px;
  font-family: 'sans-serif';
}
.contenido {
  margin: auto;
  padding: 0px 19px 0 132px;
  min-height: 85vh;
}
div.item-search {
  text-align: end;
  background-color: #282A35;
  margin-bottom: 10px !important;
}
.number_custom_styles{
  background-color: #f2f2f2;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color .3s ease;
  width: 15%;
}
.select_custom_styles{
  background-color: #f2f2f2;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
}
.title_menu{
  color: #fff;
  font-weight: bold;
  cursor:unset;
  padding: 2px 8px !important;
  margin: 0px !important;
}

.carousel_caption_custom{
  border-radius: 5px !important;
  background-color: rgba(34, 34, 34, 0.8);
  border: 1px solid rgba(255, 255, 255, .1);
}
.footer.dashboard{
  border-top: 1px solid rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .1);
  color: #fff;
  text-align: center;
  padding: 15px !important;
  margin-top: 20px !important;
}

.title_details{
  margin-top: 30px;
  color:#121212;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 1px 8px rgba(0, 0, 0, .7);
}
.container_thumb_center .thumb{
  width: 300px;
}
.container_thumb_center .thumb_lg{
  width: 400px;
}
.img_thumb{
  width: 100%;
  vertical-align: top;
}
@media screen and (max-width: 767px){
  .contenido{
    padding:  0 60px !important;
  }
}